@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;

        /* Make sure that the body takes up at least the whole screen, vertically */
        min-height: 100vh;

        /* Allow for nice header-contnet-footer spacing even when content is <100vh */
        display: flex;
        flex-direction: column;
    }

    .ty {
        @apply text-gray-700 max-w-prose;
    }

    a.ty, .ty a {
        @apply text-gray-900 underline font-medium;
    }

    code.ty, .ty code {
        @apply text-gray-900 font-semibold text-sm;
    }

    code.ty::before, .ty code::before {
        content: "`";
    }

    code.ty::after, .ty code::after {
        content: "`";
    }
}

@media (max-width: 580px) {
    #logo {
        font-size: 2.5vw;
    }
}
